/*global*/
body{
    font-family: Arial;  
}

p{
    line-height: 1;
}

a{ 
    text-decoration: none; 
    color:white;
} 

img{
    max-width: 100%;
}

a:hover{
    text-decoration: underline;
}


/*utilities*/
.container{
    width:80%;
    margin-left: auto;
    margin-right: auto;
}

.btn-read{
    display:inline-block;
    background-color: black;
    color:white;
    margin-bottom: 30px;
    padding: 15px;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 3px;
}
.btn-read:hover {
    background-color: #333;
}

.btn-moreInfo{
    display:inline-block;
    background-color: #904921;
    color:white;
    margin-bottom: 10px;
    padding: 15px;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 3px;
}

.btn-moreInfo:hover {
    background-color: #33140c;
}

.logoBar{
    display: flex;
    justify-content:space-around;
}

.menu{
    display: flex;
    width: 20%;
    align-items:center;
    justify-content:space-evenly;
}


/*header*/
header.site-init{
    background-image: url(./image/img/banner.jpg);
    background-position: center center;
    background-size: cover;
    height: 300px;
    color:white;
    text-align: center;
}

header.secondary{
    background-color: black;
    height: 100px;
    color:white;

}
.third{
    text-align:center;

}


/*main*/
.main-container {
    display: flex;
    justify-content:center;
}

.our-blog-container{
    width: 65%;
}

.our-course-container{
    width: 35%;
    margin-left:20px;
}


/*About Us Main Section*/
.about-us {
    max-width: 80%;
    margin: auto; 
    padding: 10px;

}

.about-us h2 {
    text-align: center;
}

.about-us img {
    max-width: 70%;
    margin-right:auto;
    display: block;
}

.about-us p {
    text-align: left;
    line-height: 1.5;
    padding: 5px;
}


/*courses*/
.course-item {
    display: flex;
    background-color: #a25d39; 
    padding: 50px;
    border-radius: 15px;
    width: 70%;
    margin-bottom: 40px;
    overflow: hidden;
}


.course-img{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 40%;
    margin-right: 10px; 
    box-sizing: border-box;

}

.course-img1{
    width: 49%;
    height: auto;
    transform: translateY(10%);
    max-width: 100%; 

}
.course-img2{
    width: 49%;
    height: auto;
    align-self: self-end;
    transform: translateY(-10%);

}

.text-content {
    flex-basis: 60%; /* Take up about 60% of the container */
    padding-left: 20px;
}

.text-content h1{
    color: #070404;
    text-align: left;
    margin-bottom: 20px;
}

.text-content p{
    line-height: 1.4;
}


/*curriculum section*/
.curriculum{
    display: flex;
    background-color: #f5f5ef; 
    padding: 100px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}
.curriculum-content{
    display:block;
    text-align: left;
    flex-direction: column;
    flex-basis: 40%;

}
.curriculum h2{
    color:#d3682a;
    text-transform: uppercase;
    font-size: 30px;

}
.curriculum h3{
    font-size: 28px;
}
.curriculum p{
    margin-left: auto;
    margin-right: auto;
}


/*image grid*/
.image-section {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    flex-basis: 80% ;
}

.image-item {
    text-align: center;
}

.image-item img {
    width: 90%;
    height: auto;
    border-radius: 5px;
}

.image-item a {
    display: block;
    font-weight: bold;
    color: black;
    margin-top: 5px;
    margin-bottom: 5px;
}


/*contact form*/
.contact-container{
    display:flex;
    flex-direction:column;
    padding: 50px;
}


.contact-form{
    background-color:white;
    margin-top: -50px;
    padding: 30px;
}

.input-container{
    margin-bottom:20px;
    margin-left: auto;
}

.input-container label{
    display: inline-block;
    width: 100px;
    text-align: left;
}

.input-container input, 
.input-container textarea{
    width:80%;
    padding: 5px;
    border-radius: 3px;
    border:1px solid black;
}

.contact-btn{
    display: flex;
    flex-direction: row;
    justify-content: flex-end; 
}





/*footer*/
footer {
    left: 0;
    bottom: 0;
    width: 100%; 
    background-color: black;
    height: 80px; 
    padding: 20px;
    color: white;
}



